<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from dashui.codescandy.com/dashuipro/pages/ecommerce-product-edit.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 18 Apr 2024 13:13:40 GMT -->

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="author" content="Codescandy">

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-M8S4MT3EYG"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-M8S4MT3EYG');
  </script>


  <!-- Favicon icon-->
  <link rel="shortcut icon" type="image/x-icon"
    href="https://dashui.codescandy.com/dashuipro/assets/images/favicon/favicon.ico">


  <!-- Libs CSS -->
  <link href="/admin/assets/libs/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
  <link href="/admin/assets/libs/%40mdi/font/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="/admin/assets/libs/simplebar/dist/simplebar.min.css" rel="stylesheet">



  <!-- Theme CSS -->
  <link rel="stylesheet" href="/admin/assets/css/theme.min.css">
  <link href="/admin/assets/libs/dropzone/dist/dropzone.css" rel="stylesheet">
  <link href="/admin/assets/libs/%40yaireo/tagify/dist/tagify.css" rel="stylesheet">


  <title>Add Product | Dash UI - Bootstrap 5 Admin Dashboard Template</title>
</head>

<body>
  <main id="main-wrapper" class="main-wrapper">
    <div class="header">
      <!-- navbar -->
      <div class="navbar-custom navbar navbar-expand-lg">
        <div class="container-fluid px-0">
          <a class="navbar-brand d-block d-md-none" href="https://dashui.codescandy.com/dashuipro/index.html">
            <img src="https://dashui.codescandy.com/dashuipro/assets/images/brand/logo/logo-2.svg" alt="Image">
          </a>



          <a id="nav-toggle" href="#!" class="ms-auto ms-md-0 me-0 me-lg-3 ">
            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor"
              class="bi bi-text-indent-left text-muted" viewBox="0 0 16 16">
              <path
                d="M2 3.5a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm.646 2.146a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1 0 .708l-2 2a.5.5 0 0 1-.708-.708L4.293 8 2.646 6.354a.5.5 0 0 1 0-.708zM7 6.5a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 3a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5zm-5 3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z" />
            </svg></a>

          <div class="d-none d-md-none d-lg-block">
            <!-- Form -->
            <form action="#">


              <div class="input-group ">
                <input class="form-control rounded-3" type="search" value="" id="searchInput" placeholder="Search">
                <span class="input-group-append">
                  <button class="btn  ms-n10 rounded-0 rounded-end" type="button">
                    <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" fill="none"
                      stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                      class="feather feather-search text-dark">
                      <circle cx="11" cy="11" r="8"></circle>
                      <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                    </svg>
                  </button>
                </span>
              </div>
            </form>
          </div>
          <!--Navbar nav -->
          <ul class="navbar-nav navbar-right-wrap ms-lg-auto d-flex nav-top-wrap align-items-center ms-4 ms-lg-0">
            <a href="#" class="form-check form-switch theme-switch btn btn-ghost btn-icon rounded-circle mb-0 ">
              <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
              <label class="form-check-label" for="flexSwitchCheckDefault"></label>

            </a>
            </li>

            <li class="dropdown stopevent ms-2">
              <a class="btn btn-ghost btn-icon rounded-circle" href="#!" role="button" id="dropdownNotification"
                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="icon-xs" data-feather="bell"></i>
              </a>
              <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end" aria-labelledby="dropdownNotification">
                <div>
                  <div class="border-bottom px-3 pt-2 pb-3 d-flex
              justify-content-between align-items-center">
                    <p class="mb-0 text-dark fw-medium fs-4">Notifications</p>
                    <a href="#!" class="text-muted">
                      <span>
                        <i class="me-1 icon-xs" data-feather="settings"></i>
                      </span>
                    </a>
                  </div>
                  <div data-simplebar style="height: 250px;">
                    <!-- List group -->
                    <ul class="list-group list-group-flush notification-list-scroll">
                      <!-- List group item -->
                      <li class="list-group-item bg-light">


                        <a href="#!" class="text-muted">
                          <h5 class=" mb-1">Rishi Chopra</h5>
                          <p class="mb-0">
                            Mauris blandit erat id nunc blandit, ac eleifend dolor pretium.
                          </p>
                        </a>



                      </li>
                      <!-- List group item -->
                      <li class="list-group-item">


                        <a href="#!" class="text-muted">
                          <h5 class=" mb-1">Neha Kannned</h5>
                          <p class="mb-0">
                            Proin at elit vel est condimentum elementum id in ante. Maecenas et sapien metus.
                          </p>
                        </a>



                      </li>
                      <!-- List group item -->
                      <li class="list-group-item">


                        <a href="#!" class="text-muted">
                          <h5 class=" mb-1">Nirmala Chauhan</h5>
                          <p class="mb-0">
                            Morbi maximus urna lobortis elit sollicitudin sollicitudieget elit vel pretium.
                          </p>
                        </a>



                      </li>
                      <!-- List group item -->
                      <li class="list-group-item">


                        <a href="#!" class="text-muted">
                          <h5 class=" mb-1">Sina Ray</h5>
                          <p class="mb-0">
                            Sed aliquam augue sit amet mauris volutpat hendrerit sed nunc eu diam.
                          </p>
                        </a>



                      </li>
                    </ul>
                  </div>
                  <div class="border-top px-3 py-2 text-center">
                    <a href="#!" class="text-inherit ">
                      View all Notifications
                    </a>
                  </div>
                </div>
              </div>
            </li>
            <!-- List -->
            <li class="dropdown ms-2">
              <a class="rounded-circle" href="#!" role="button" id="dropdownUser" data-bs-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <div class="avatar avatar-md avatar-indicators avatar-online">
                  <img alt="avatar" src="/admin/assets/images/avatar/avatar-11.jpg" class="rounded-circle">
                </div>
              </a>
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownUser">
                <div class="px-4 pb-0 pt-2">


                  <div class="lh-1 ">
                    <h5 class="mb-1"> John E. Grainger</h5>
                    <a href="#!" class="text-inherit fs-6">View my profile</a>
                  </div>
                  <div class=" dropdown-divider mt-3 mb-2"></div>
                </div>

                <ul class="list-unstyled">

                  <li>
                    <a class="dropdown-item d-flex align-items-center" href="#!">
                      <i class="me-2 icon-xxs dropdown-item-icon" data-feather="user"></i>Edit
                      Profile
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#!">
                      <i class="me-2 icon-xxs dropdown-item-icon" data-feather="activity"></i>Activity Log
                    </a>


                  </li>


                  <li>
                    <a class="dropdown-item d-flex align-items-center" href="#!">

                      <i class="me-2 icon-xxs dropdown-item-icon" data-feather="settings"></i>Settings
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="https://dashui.codescandy.com/dashuipro/index.html">
                      <i class="me-2 icon-xxs dropdown-item-icon" data-feather="power"></i>Sign Out
                    </a>
                  </li>
                </ul>

              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!-- navbar vertical -->
    <!-- Sidebar -->

    <div class="navbar-vertical navbar nav-dashboard">
      <div class="h-100" data-simplebar>
        <!-- Brand logo -->
        <a class="navbar-brand" href="https://dashui.codescandy.com/dashuipro/index.html">
          <img src="https://dashui.codescandy.com/dashuipro/assets/images/brand/logo/logo-2.svg"
            alt="dash ui - bootstrap 5 admin dashboard template">
        </a>
        <!-- Navbar nav -->
        <ul class="navbar-nav flex-column" id="sideNavbar">

          <li class="nav-item">
            <a class="nav-link has-arrow " href="/admin/dashboard">
              <i data-feather="home" class="nav-icon me-2 icon-xxs"></i>
              Dashboard
            </a>
          </li>


          <!-- Nav item -->
          <li class="nav-item">
            <a class="nav-link has-arrow" href="/admin/customers">
              <i data-feather="calendar" class="nav-icon me-2 icon-xxs">
              </i> Users
            </a>
          </li>

          <!-- Nav item -->
          <li class="nav-item">
            <a class="nav-link has-arrow  collapsed " href="#!" data-bs-toggle="collapse" data-bs-target="#navEmail"
              aria-expanded="false" aria-controls="navEmail">
              <i data-feather="mail" class="nav-icon me-2 icon-xxs">
              </i> Categories
            </a>

            <div id="navEmail" class="collapse" data-bs-parent="#sideNavbar">
              <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link has-arrow " href="/admin/categories">

                    Categories
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link has-arrow" href="/admin/AddCategories">

                    Add Categories
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <!-- Nav item -->
          <li class="nav-item">
            <a class="nav-link has-arrow  collapsed " href="#!" data-bs-toggle="collapse" data-bs-target="#navKanban"
              aria-expanded="false" aria-controls="navKanban">
              <i data-feather="layout" class="nav-icon me-2 icon-xxs">
              </i> Products
            </a>

            <div id="navKanban" class="collapse " data-bs-parent="#sideNavbar">
              <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link has-arrow " href="/admin/products">

                    Products
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link has-arrow " href="/admin/AddProducts">

                    Add Products
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <!-- Nav item -->
          <li class="nav-item">
            <a class="nav-link has-arrow  collapsed " href="#!" data-bs-toggle="collapse" data-bs-target="#navCRM"
              aria-expanded="false" aria-controls="navCRM">
              <i data-feather="pie-chart" class="nav-icon me-2 icon-xxs">
              </i>

              Coupons
            </a>

            <div id="navCRM" class="collapse show" data-bs-parent="#sideNavbar">
              <ul class="nav flex-column">


                <li class="nav-item">
                  <a class="nav-link has-arrow " href="/admin/coupons">

                    Coupons
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link has-arrow active" href="/admin/AddCoupons">

                    Add Coupons
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <!-- Nav item -->
          <li class="nav-item ">
            <a class="nav-link   collapsed  " href="#!" data-bs-toggle="collapse" data-bs-target="#navProject"
              aria-expanded="false" aria-controls="navProject">
              <i class="nav-icon me-2 icon-xxs" data-feather="file"></i> Orders
            </a>
            <div id="navProject" class="collapse " data-bs-parent="#sideNavbar">
              <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link " href="/admin/orders">
                    Orders
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link  " href="project-list.html">
                    List
                  </a>
                </li>

              </ul>
            </div>
          </li>
          <!-- Nav item -->
          <li class="nav-item">
            <a class="nav-link has-arrow  collapsed " href="#!" data-bs-toggle="collapse" data-bs-target="#navinvoice"
              aria-expanded="false" aria-controls="navinvoice">
              <i data-feather="clipboard" class="nav-icon me-2 icon-xxs">
              </i> Invoice
            </a>

            <div id="navinvoice" class="collapse " data-bs-parent="#sideNavbar">
              <ul class="nav flex-column">

                <li class="nav-item">
                  <a class="nav-link has-arrow " href="invoice-list.html">

                    List
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link has-arrow " href="invoice-detail.html">

                    Detail
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link has-arrow " href="invoice-generator.html">

                    Invoice Generator
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link   collapsed  " href="#!" data-bs-toggle="collapse" data-bs-target="#navprofilePages"
              aria-expanded="false" aria-controls="navprofilePages">

              <i data-feather="user" class="nav-icon me-2 icon-xxs">
              </i> Profile
            </a>
            <div id="navprofilePages" class="collapse " data-bs-parent="#sideNavbar">
              <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link " href="profile-overview.html">
                    Overview
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link " href="profile-project.html">
                    Project
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link " href="profile-files.html">
                    Files
                  </a>
                </li>

                <li class="nav-item">
                  <a class="nav-link " href="profile-team.html">
                    Team
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link " href="profile-followers.html">
                    Followers
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link " href="profile-activity.html">
                    Activity
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link " href="profile-settings.html">
                    Settings
                  </a>
                </li>
              </ul>
            </div>
          </li>


        </ul>

      </div>
    </div>



    <!-- Page Content -->
    <div id="app-content">
      <!-- Container fluid -->
      <div class="app-content-area">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-12">
              <!-- Page header -->
              <div class="mb-5">
                <h3 class="mb-0 ">Add Coupons</h3>

              </div>
            </div>
          </div>
          <div>
            <!-- row -->

            <div class="row">
              <form id="addCouponForm" method="POST">
                <div class="col-lg-6 col-12">
                  <div class="card mb-4">
                    <div class="card-body">
                      <div class="mb-3">
                        <label class="form-label">Coupon Code</label>
                        <input name="code" type="text" class="form-control" pattern="[A-Za-z0-9]+"
                          title="Only letters and numbers are allowed. No spaces.">
                        <span class="error-message"></span>
                      </div>

                      <div class="mb-3">
                        <label class="form-label">Description</label>
                        <input name="description" type="text" class="form-control" pattern="[A-Za-z\s]+"
                          title="Only letters are allowed.">
                        <span class="error-message"></span>
                      </div>

                      <div class="row">
                        <div class="col-md-6 mb-3">
                          <label class="form-label">Min Purchase Amount</label>
                          <input name="minamount" type="text" class="form-control" pattern="\d+"
                            title="Only numbers are allowed.">
                          <span class="error-message"></span>
                        </div>
                        <div class="col-md-6 mb-3">
                          <label class="form-label">Max Discount Amount</label>
                          <input name="maxamount" type="text" class="form-control" pattern="\d+"
                            title="Only numbers are allowed.">
                          <span class="error-message"></span>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-6 mb-3">
                          <label class="form-label">Discount Percentage</label>
                          <input name="discount" type="text" class="form-control" pattern="\d+"
                            title="Only numbers are allowed.">
                          <span class="error-message"></span>
                        </div>
                        <div class="col-md-6 mb-3">
                          <label the class="form-label">Expiry Date</label>
                          <input name="expirydate" type="text" class="form-control"
                            pattern="(0[1-9]|1[0-2])-(0[1-9]|[12][0-9]|3[01])-(19|20)\d{2}"
                            title="Enter a date in the format MM-DD-YYYY. Eg: 01-12-2024">
                          <span class="error-message"></span>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>

                <div class="col-lg-4 col-12">
                  <div class="d-grid">
                    <button type="submit" class="btn btn-primary">Create Coupon</button>
                  </div>
                </div>
              </form>
            </div>



          </div>
        </div>
      </div>
    </div>
  </main>
  <!-- Scripts -->

  <!-- dropzone -->
  <script src="/admin/assets/libs/dropzone/dist/min/dropzone.min.js"></script>
  <!-- flatpickr -->
  <script src="/admin/assets/libs/flatpickr/dist/flatpickr.min.js"></script>

  <!-- quill js -->
  <script src="/admin/assets/libs/quill/dist/quill.min.js"></script>
  <script src="/admin/assets/libs/%40yaireo/tagify/dist/tagify.min.js"></script>
  <!-- Libs JS -->
  <script src="/admin/assets/libs/jquery/dist/jquery.min.js"></script>
  <script src="/admin/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="/admin/assets/libs/feather-icons/dist/feather.min.js"></script>
  <script src="/admin/assets/libs/simplebar/dist/simplebar.min.js"></script>
  <!-- Theme JS -->
  <script src="/admin/assets/js/theme.min.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


  <script>
    document.getElementById('addCouponForm').addEventListener('submit', function (e) {
      e.preventDefault();

      const formData = new FormData(this);
      const formDataObject = {};
      formData.forEach((value, key) => {
        formDataObject[key] = value;
      });

      fetch('/admin/AddCoupons', {
        method: 'POST',
        body: JSON.stringify(formDataObject),
        headers: {
          'Content-Type': 'application/json'
        }
      })
        .then(response => response.json())
        .then(data => {
          console.log(data);
          if (data.success) {
            Swal.fire({
              title: 'Success!',
              text: data.message || 'Coupon has been added successfully',
              icon: 'success'
            }).then((result) => {
              if (result.isConfirmed || result.isDismissed) {
                window.location.href = '/admin/coupons';
              }
            });
          } else {
            Swal.fire({
              title: 'Error!',
              text: data.message || 'Failed to add coupon',
              icon: 'error'
            });
          }
        })
        .catch(error => {
          console.error('Error:', error);
          Swal.fire({
            title: 'Error!',
            text: 'Failed to add coupon.',
            icon: 'error'
          });
        });
    });




    document.getElementById("addCouponForm").addEventListener("input", function (event) {
      const target = event.target;
      const pattern = target.getAttribute("pattern");
      const errorMsg = target.nextElementSibling;

      if (pattern) {
        const regex = new RegExp(pattern);
        if (!regex.test(target.value)) {
          if (target.name === "code") {
            errorMsg.textContent = "The coupon code must contain only letters and numbers.";
          } else if (target.name === "description") {
            errorMsg.textContent = "The description must contain only letters and spaces.";
          } else if (target.name === "minamount" || target.name === "maxamount") {
            errorMsg.textContent = "This field must contain only numbers.";
          } else if (target.name === "discount") {
            errorMsg.textContent = "The discount percentage must be a numeric value.";
          } else if (target.name === "expirydate") {
            errorMsg.textContent = "Enter a date in the format MM-DD-YYYY. Eg: 01-12-2024";
          } else {
            errorMsg.textContent = "";
          }
        } else {
          errorMsg.textContent = "";
        }
      }
    });

  </script>





</body>

</html>