<!doctype html>
<html class="no-js" lang="zxx">


<!-- Mirrored from htmldemo.net/nelson/nelson/my-account.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 11 May 2024 05:28:15 GMT -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>My Account || nelson</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Place favicon.ico in the root directory -->
    <link href="users/assets_3/images/favicon.ico" type="img/x-icon" rel="shortcut icon">

    <link
        href="https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap"
        rel="stylesheet">
    <!-- All css files are included here. -->
    <link rel="stylesheet" href="users/assets_3/css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="users/assets_3/css/vendor/iconfont.min.css">
    <link rel="stylesheet" href="users/assets_3/css/vendor/helper.css">
    <link rel="stylesheet" href="users/assets_3/css/plugins/plugins.css">
    <link rel="stylesheet" href="users/assets_3/css/style.css">
    <link rel="stylesheet" href="/users/assets/css/style.css">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">


    <!-- Modernizr JS -->
    <script src="users/assets_3/js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body>


    <div id="main-wrapper">


        <nav class="custom-navbar navbar navbar-expand-md navbar-dark bg-dark" arial-label="Furni navigation bar">
            <div class="container">
                <a class="navbar-brand">MacHive</a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsFurni"
                    aria-controls="navbarsFurni" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarsFurni">
                    <ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
                        <li><a class="nav-link" href="/">Home</a></li>
                        <li><a class="nav-link" href="/shop">Shop</a></li>
                        <li><a class="nav-link" href="/views/users/about.ejs">About us</a></li>
                        <li><a class="nav-link" href="/views/users/services.ejs">Services</a></li>
                        <li><a class="nav-link" href="/views/users/blog.ejs">Blog</a></li>
                        <li><a class="nav-link" href="/views/users//contact.ejs">Contact us</a></li>
                    </ul>

                    <ul class=" custom-navbar-cta navbar-nav mb-2 mb-md-0 ms-5">
                        <li><a class="nav-link" href="#"><i class="fa-solid fa-heart"></i></a></li>
                        <li><a class="nav-link" href="/users/cart.ejs"><i class="fa-solid fa-cart-shopping"></i></a>
                        </li>
                        <li><a class="nav-link" href="/users/myAccount"><i class="fa-solid fa-user"></i></a></li>
                    </ul>

                    <ul class="custom-navbar-nav navbar-nav ">

                        <li><a class="nav-link login-nav" href="sign-in">SIGN IN</a></li>

                    </ul>
                </div>
            </div>
        </nav>


        <!--My Account section start-->
        <div
            class="my-account-section section pt-90 pt-lg-70 pt-md-60 pt-sm-50 pt-xs-45  pb-100 pb-lg-80 pb-md-70 pb-sm-60 pb-xs-50">
            <div class="container">
                <div class="row">

                    <div class="col-12">
                        <div class="row">
                            <!-- My Account Tab Menu Start -->
                            <div class="col-lg-3 col-12">
                                <div class="myaccount-tab-menu nav" role="tablist">
                                    <button type="button" id="dashboad-tab" data-bs-target="#dashboad"
                                        data-bs-toggle="tab" role="tab" aria-controls="dashboad" aria-selected="false" onclick="navigateToDashboard()">
                                        <i class="fa fa-dashboard"></i>
                                        Dashboard
                                    </button>
                                    <button type="button" id="orders-tab" data-bs-target="#orders" data-bs-toggle="tab"
                                        role="tab" aria-controls="orders" aria-selected="false">
                                        <i class="fa fa-cart-arrow-down"></i>
                                        Orders
                                    </button>
                                    <button type="button" id="download-tab" data-bs-target="#download"
                                        data-bs-toggle="tab" role="tab" aria-controls="download" aria-selected="false">
                                        <i class="fa fa-cloud-download"></i>
                                        Download
                                    </button>
                                    <button type="button" id="payment-tab" data-bs-target="#payment-method"
                                        data-bs-toggle="tab" role="tab" aria-controls="payment-method"
                                        aria-selected="false">
                                        <i class="fa fa-credit-card"></i>
                                        Payment Method
                                    </button>
                                    <button class="active" type="button" id="address-tab" data-bs-target="#address-edit"
                                        data-bs-toggle="tab" role="tab" aria-controls="address-edit"
                                        aria-selected="true">
                                        <i class="fa fa-map-marker"></i>
                                        address
                                    </button>
                                    <button type="button" id="account-tab" data-bs-target="#account-info"
                                        data-bs-toggle="tab" role="tab" aria-controls="account-info"
                                        aria-selected="false">
                                        <i class="fa fa-user"></i>
                                        Account Details
                                    </button>
                                    <a href="login-register.html"><i class="fa fa-sign-out"></i> Logout</a>
                                </div>
                            </div>
                            <!-- My Account Tab Menu End -->

                            <!-- My Account Tab Content Start -->
                            <div class="col-lg-9 col-12">
                                <div class="tab-content" id="myaccountContent">

                                    <!-- Single Tab Content Start -->
                                    <div class="tab-pane fade show active" id="address-edit" role="tabpanel" aria-labelledby="address-tab" tabindex="0">
                                        <button class="add-address-btn">+ Add Address</button>
                                        <div class="myaccount-content">
                                            <h3>Billing Address</h3>
                                            <address>
                                                <p><strong>Alex Tuntuni</strong></p>
                                                <p>1355 Market St, Suite 900 <br>
                                                    San Francisco, CA 94103</p>
                                                <p>Mobile: (123) 456-7890</p>
                                            </address>
                                            <a href="#" class="btn d-inline-block edit-address-btn"><i class="fa fa-edit"></i>Edit Address</a>
                                        </div>
                                    </div>
                                    <!-- Single Tab Content End -->

                                </div>
                            </div>
                            <!-- My Account Tab Content End -->
                        </div>

                    </div>

                </div>
            </div>
        </div>
        <!--My Account section end-->
        <!-- Newsletter Section Start -->
        <div
            class="newsletter-section section bg-gray-two pt-100 pt-lg-80 pt-md-70 pt-sm-60 pt-xs-50 pb-95 pb-lg-75 pb-md-65 pb-sm-60 pb-xs-50">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="newsletter-content">
                            <h2>Subscribe Our Newsletter</h2>
                            <p>Subscribe Today for free and save 10% on your first purchase.</p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="newsletter-wrap">
                            <div class="newsletter-form">
                                <form id="mc-form" class="mc-form">
                                    <input type="email" placeholder="Enter Your Email Address Here..." required>
                                    <button type="submit" value="submit">SUBSCRIBE!</button>
                                </form>

                            </div>
                            <!-- mailchimp-alerts Start -->
                            <div class="mailchimp-alerts">
                                <div class="mailchimp-submitting"></div><!-- mailchimp-submitting end -->
                                <div class="mailchimp-success"></div><!-- mailchimp-success end -->
                                <div class="mailchimp-error"></div><!-- mailchimp-error end -->
                            </div>
                            <!-- mailchimp-alerts end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Newsletter Section End -->
        <!--Footer section start-->
        <footer class="footer-section section bg-gray">

            <!--Footer Top start-->
            <div
                class="footer-top section pt-100 pt-lg-80 pt-md-70 pt-sm-60 pt-xs-50 pb-55 pb-lg-35 pb-md-25 pb-sm-15 pb-xs-10">
                <div class="container">
                    <div class="row">

                        <!--Footer Widget start-->
                        <div class="footer-widget col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 mb-40 mb-xs-35">
                            <h4 class="title"><span class="text">Opening Time</span></h4>
                            <p class="mb-15">Mon – Fri: 8AM – 10PM</p>
                            <p class="mb-15">Sat: 9AM-8PM</p>
                            <p class="mb-15">Sun: Closed</p>
                            <h4 class="opeaning-title">We Work All The Holidays</h4>
                        </div>
                        <!--Footer Widget end-->


                        <!--Footer Widget start-->
                        <div class="footer-widget col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 mb-40 mb-xs-35">
                            <h4 class="title"><span class="text">Quick Link</span></h4>
                            <ul class="ft-menu">
                                <li><a href="#">My account</a></li>
                                <li><a href="#">Wishlist</a></li>
                                <li><a href="#">Order Tracking</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                                <li><a href="#">Shipping Information</a></li>
                            </ul>
                        </div>
                        <!--Footer Widget end-->

                        <!--Footer Widget start-->
                        <div class="footer-widget col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 mb-40 mb-xs-35">
                            <h4 class="title"><span class="text">Information</span></h4>
                            <ul class="ft-menu">
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">Shopping Guide</a></li>
                                <li><a href="#">Delivery Information</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                                <li><a href="#">Our Store</a></li>
                            </ul>
                        </div>
                        <!--Footer Widget end-->

                        <!--Footer Widget start-->
                        <div
                            class="footer-widget text-lg-end text-start col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 mb-40 mb-xs-35">
                            <h2>123 Widget Street Acmeville, AC-1209</h2>
                            <p class="contact-text">demo@example.com</p>
                            <p class="contact-text">+0123456789</p>
                        </div>
                        <!--Footer Widget end-->
                    </div>
                </div>
            </div>
            <!--Footer Top end-->

            <!--Footer bottom start-->
            <div class="footer-bottom section">
                <div class="container">
                    <div class="row no-gutters">
                        <div class="col-12 ft-border pt-25 pb-25">
                            <div class="row justify-content-between align-items-center">
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <div class="copyright text-start">
                                        <p class="copyright">&copy; 2021 <strong>Nelson</strong> Made with <i
                                                class="fa fa-heart text-danger" aria-hidden="true"></i> by <a
                                                href="https://hasthemes.com/"><strong>HasThemes</strong></a>.</p>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <div class="payment-getway text-lg-end text-center">
                                        <img src="users/assets_3/images/payment.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Footer bottom end-->

        </footer>
        <!--Footer section end-->
        <!-- Modal Area Strat -->
        <div class="modal fade quick-view-modal-container" id="quick-view-modal-container" tabindex="-1" role="dialog"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="col-xl-12 col-lg-12">
                            <div class="row">
                                <div class="col-lg-4 col-md-6">
                                    <!-- Product Details Left -->
                                    <div class="product-details-left">
                                        <div class="product-details-images">
                                            <div class="lg-image">
                                                <img src="users/assets_3/images/product/large-product/l-product-1.jpg"
                                                    alt="">
                                            </div>
                                            <div class="lg-image">
                                                <img src="users/assets_3/images/product/large-product/l-product-2.jpg"
                                                    alt="">
                                            </div>
                                            <div class="lg-image">
                                                <img src="users/assets_3/images/product/large-product/l-product-3.jpg"
                                                    alt="">
                                            </div>
                                            <div class="lg-image">
                                                <img src="users/assets_3/images/product/large-product/l-product-4.jpg"
                                                    alt="">
                                            </div>
                                            <div class="lg-image">
                                                <img src="users/assets_3/images/product/large-product/l-product-5.jpg"
                                                    alt="">
                                            </div>
                                        </div>
                                        <div class="product-details-thumbs">
                                            <div class="sm-image"><img
                                                    src="users/assets_3/images/product/small-product/s-product-1.jpg"
                                                    alt="product image thumb"></div>
                                            <div class="sm-image"><img
                                                    src="users/assets_3/images/product/small-product/s-product-2.jpg"
                                                    alt="product image thumb"></div>
                                            <div class="sm-image"><img
                                                    src="users/assets_3/images/product/small-product/s-product-3.jpg"
                                                    alt="product image thumb"></div>
                                            <div class="sm-image"><img
                                                    src="users/assets_3/images/product/small-product/s-product-4.jpg"
                                                    alt="product image thumb"></div>
                                            <div class="sm-image"><img
                                                    src="users/assets_3/images/product/small-product/s-product-5.jpg"
                                                    alt="product image thumb"></div>
                                        </div>
                                    </div>
                                    <!--Product Details Left -->
                                </div>
                                <div class="col-lg-8 col-md-6">
                                    <!--Product Details Content Start-->
                                    <div class="product-details-content">
                                        <!--Product Nav Start-->
                                        <div class="product-nav">
                                            <a href="#"><i class="fa fa-angle-left"></i></a>
                                            <a href="#"><i class="fa fa-angle-right"></i></a>
                                        </div>
                                        <!--Product Nav End-->
                                        <h2>Aliquam lobortis est turpis mauris egestas eget</h2>
                                        <div class="single-product-reviews">
                                            <i class="fa fa-star active"></i>
                                            <i class="fa fa-star active"></i>
                                            <i class="fa fa-star active"></i>
                                            <i class="fa fa-star active"></i>
                                            <i class="fa fa-star-o"></i>
                                            <a class="review-link" href="#">(1 customer review)</a>
                                        </div>
                                        <div class="single-product-price">
                                            <span class="price new-price">$66.00</span>
                                            <span class="regular-price">$77.00</span>
                                        </div>
                                        <div class="product-description">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                                                veniam, quis nostrud exercitation ullamco,Proin lectus ipsum, gravida et
                                                mattis vulputate, tristique ut lectus</p>
                                        </div>
                                        <div class="single-product-quantity">
                                            <form class="add-quantity" action="#">
                                                <div class="product-quantity">
                                                    <input value="1" type="number">
                                                </div>
                                                <div class="add-to-link">
                                                    <button class="btn"><i class="ion-bag"></i>add to cart</button>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="wishlist-compare-btn">
                                            <a href="#" class="wishlist-btn">Add to Wishlist</a>
                                            <a href="#" class="add-compare">Compare</a>
                                        </div>
                                        <div class="product-meta">
                                            <span class="posted-in">
                                                Categories:
                                                <a href="#">Accessories</a>,
                                                <a href="#">Electronics</a>
                                            </span>
                                        </div>
                                        <div class="single-product-sharing">
                                            <h3>Share this product</h3>
                                            <ul>
                                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                                <li><a href="#"><i class="fa fa-vimeo"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!--Product Details Content End-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- Modal Area End -->
    </div>

    <!-- Placed js at the end of the document so the pages load faster -->

    <!-- All jquery file included here -->
    <script src="users/assets_3/js/vendor/jquery-1.12.4.min.js"></script>
    <script
        src="https://maps.google.com/maps/api/js?sensor=false&amp;libraries=geometry&amp;v=3.22&amp;key=AIzaSyDAq7MrCR1A2qIShmjbtLHSKjcEIEBEEwM"></script>
    <script src="users/assets_3/js/vendor/bootstrap.min.js"></script>
    <script src="users/assets_3/js/plugins/plugins.js"></script>
    <script src="users/assets_3/js/main.js"></script>

    <script>
        function navigateToDashboard(){
            window.location.href= '/myAccount';
        }

    </script>

</body>


</html>