<!doctype html>
<html class="no-js" lang="zxx">

<!-- Mirrored from wphix.com/html/blackwood-prv/blackwood/sign-in.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 07 Apr 2024 11:30:57 GMT -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Blackwood - Clean Minimal eCommerce HTML5 Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Place favicon.ico in the root directory -->
    <link rel="shortcut icon" type="image/x-icon" href="/users/assets_2/img/favicon.png">
    <!--fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">


    <link
        href="https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap"
        rel="stylesheet">
    <!-- CSS here -->
    <link rel="stylesheet" href="/users/assets_2/css/preloader.css">
    <link rel="stylesheet" href="/users/assets_2/css/bootstrap.css">
    <link rel="stylesheet" href="/users/assets_2/css/meanmenu.css">
    <link rel="stylesheet" href="/users/assets_2/css/animate.css">
    <link rel="stylesheet" href="/users/assets_2/css/owl-carousel.css">
    <link rel="stylesheet" href="/users/assets_2/css/ui-range-slider.css">
    <link rel="stylesheet" href="/users/assets_2/css/swiper-bundle.css">
    <link rel="stylesheet" href="/users/assets_2/css/backtotop.css">
    <link rel="stylesheet" href="/users/assets_2/css/magnific-popup.css">
    <link rel="stylesheet" href="/users/assets_2/css/nice-select.css">
    <link rel="stylesheet" href="/users/assets_2/css/font-awesome-pro.css">
    <link rel="stylesheet" href="/users/assets_2/flaticon/flaticon.css">
    <link rel="stylesheet" href="/users/assets_2/css/default.css">
    <link rel="stylesheet" href="/users/assets_2/css/style.css">
    <link rel="stylesheet" href="/users/assets/css/style.css">
</head>

<body>
    <!--[if lte IE 9]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
      <![endif]-->


    <!-- prealoder area start -->
    <div id="loading">
        <div id="loading-center">
            <div id="loading-center-absolute">
                <div class="object" id="first_object"></div>
                <div class="object" id="second_object"></div>
                <div class="object" id="third_object"></div>
            </div>
        </div>
    </div>
    <!-- prealoder area end -->

    <!-- back to top start -->
    <div class="progress-wrap">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
        </svg>
    </div>
    <!-- back to top end -->


    <nav class="custom-navbar navbar navbar-expand-md navbar-dark bg-dark" arial-label="Furni navigation bar">

        <div class="container">
            <a class="navbar-brand">MacHive</a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsFurni" aria-controls="navbarsFurni" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsFurni">
                <ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
                    <li><a class="nav-link" href="/">Home</a></li>
                    <li><a class="nav-link" href="/shop">Shop</a></li>
                    <li><a class="nav-link" href="/views/users/about.ejs">About us</a></li>
                    <li><a class="nav-link" href="/views/users/contact.ejs">Contact us</a></li>
                </ul>

                <ul class=" custom-navbar-cta navbar-nav mb-2 mb-md-0 ms-5">
                    <li><a class="nav-link" href="/wishlist"><i class="fa-solid fa-heart"></i></a></li>
                    <li><a class="nav-link" href="/cart"><i class="fa-solid fa-cart-shopping"></i></a></li>
                    <li><a class="nav-link" href="/myAccount"><i class="fa-solid fa-user"></i></a></li>
                </ul>

                <ul class="custom-navbar-nav navbar-nav ">

                    <li class="nav-item active">
                        <a class="nav-link login-nav" href="/sign-in">SIGN IN</a>
                    </li>

                </ul>
                
            </div>
        </div>
            
    </nav>
    <!-- signin__area start -->
    <section class="signin__area po-rel-z1 pt-100 pb-100">
        <div class="container">
            <div class="row">
                <div class="col-xxl-6 offset-xxl-3 col-xl-6 offset-xl-3 col-lg-8 offset-lg-2">
                    <div class="sign__wrapper white-bg">
                        <div class="sign__header mb-35">
                            <!--sign with google-->
                            <!-- <div class="sign__in text-center">
                                <div id="facebook-login-btn" class="button-like">
                                    <a class="sign__social text-start mb-15">
                                        <i class="fab fa-facebook-f"></i> Sign In with Facebook
                                    </a>
                                </div>
                            </div> -->
                            <!--sign with facebook-->
                            <div class="sign__in text-center">
                                <div id="google-login-btn" class="button-like">
                                    <a class="sign__social g-plus text-start mb-15">
                                        <i class="fab fa-google-plus-g"></i> Sign In with Google
                                    </a>
                                </div>
                                <p>
                                    <span>........</span> Or, <a href="sign-up" class="email-sign-up-link">sign up</a>
                                    with your email <span> ........</span>
                                </p>
                            </div>
                        </div>
                        <div class="sign__form">
                            <form method="post" id="loginForm">
                                <div class="sign__input-wrapper mb-25">
                                    <h5>Email</h5>
                                    <div class="sign__input">
                                        <input name="email" id="email" type="text" placeholder="e-mail address" value="yadukrishnankzr@gmail.com">
                                        <i class="fal fa-envelope"></i>
                                        <div id="email-error" class="error" style="color: red;"></div>
                                        <!-- Error message for email -->
                                    </div>
                                </div>
                                <div class="sign__input-wrapper mb-10">
                                    <h5>Password</h5>
                                    <div class="sign__input">
                                        <input name="password" id="password" type="password" placeholder="Password" value="123asd">
                                        <i class="fal fa-lock"></i>
                                        <div id="password-error" class="error" style="color: red;"></div>
                                        <!-- Error message for password -->
                                    </div>
                                </div>
                                <div class="sign__action d-sm-flex justify-content-between mb-30">
                                    <div class="sign__agree d-flex align-items-center">
                                        <input class="m-check-input" type="checkbox" id="m-agree">
                                        <label class="m-check-label" for="m-agree">Keep me signed in</label>
                                    </div>
                                    <div class="sign__forgot">
                                        <a href="#">Forgot your password?</a>
                                    </div>
                                </div>
                                <button type="submit" class="btn-tp w-100"><span></span> Sign In</button>
                                <div class="sign__new text-center mt-20">
                                    <p>New to Markit? <a href="/sign-up">Sign Up</a></p>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- signin__area end -->

    </main>

    <!-- footer area start -->
    <footer>
        <div class="footer__area footer-bg">
            <div class="footer__top footer__top-space pb-50">
                <div class="container">
                    <div class="row">
                        <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-4 col-sm-6">
                            <div class="footer__widget pb-30">
                                <h3 class="footer__widget-title footer__widget-title-3">Need help</h3>
                                <div class="footer__widget-content">
                                    <div class="footer__contact">
                                        <h3 class="footer__contact-phone"><a href="tel:1234-5678-90">(+80) 1234 5678
                                                90</a></h3>
                                        <div class="footer__opening mb-15">
                                            <p>Monday - Friday: 9:00-20:00</p>
                                            <p>Saturady: 11:00 - 15:00</p>
                                        </div>
                                        <div class="footer__contact-email footer__contact-email-2">
                                            <p><a
                                                    href="https://wphix.com/cdn-cgi/l/email-protection#0d6f6c616e667a6262694d7e787d7d627f79236e6260"><span
                                                        class="__cf_email__"
                                                        data-cfemail="7311121f1018041c1c1733000603031c01075d101c1e">[email&#160;protected]</span></a>
                                            </p>
                                        </div>
                                        <div class="footer__social footer__social-3">
                                            <ul>
                                                <li>
                                                    <a href="#">
                                                        <i class="fab fa-facebook-f"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="fab fa-twitter"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="fab fa-instagram"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="fab fa-youtube"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="fab fa-pinterest"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xxl-2 col-xl-2 col-lg-4 col-md-4 col-sm-6 col-6">
                            <div class="footer__widget footer-col-3 pb-30">
                                <h3 class="footer__widget-title footer__widget-title-3">Useful Links</h3>
                                <div class="footer__widget-content">
                                    <div class="footer__links footer__links-2">
                                        <ul>
                                            <li>
                                                <a href="contact.html">Privacy Policy</a>
                                            </li>
                                            <li>
                                                <a href="contact.html">Returns</a>
                                            </li>
                                            <li>
                                                <a href="contact.html">Terms & Conditions</a>
                                            </li>
                                            <li>
                                                <a href="contact.html">Contact Us</a>
                                            </li>
                                            <li>
                                                <a href="blog-details.html">Latest News</a>
                                            </li>
                                            <li>
                                                <a href="contact.html">Our Sitemap</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xxl-2 col-xl-2 col-lg-4 col-md-4 col-sm-6 col-6">
                            <div class="footer__widget footer-col-4 pb-30">
                                <h3 class="footer__widget-title footer__widget-title-3">Our Stores</h3>
                                <div class="footer__widget-content">
                                    <div class="footer__links footer__links-2">
                                        <ul>
                                            <li>
                                                <a href="about.html">New York</a>
                                            </li>
                                            <li>
                                                <a href="about.html">London SF</a>
                                            </li>
                                            <li>
                                                <a href="about.html">Cockfosters BP</a>
                                            </li>
                                            <li>
                                                <a href="#">Los Angeles</a>
                                            </li>
                                            <li>
                                                <a href="about.html">Chicago</a>
                                            </li>
                                            <li>
                                                <a href="about.html">Las Vegas</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xxl-2 col-xl-2 col-lg-4 col-md-4 col-sm-6 col-6">
                            <div class="footer__widget footer-col-5 pb-30">
                                <h3 class="footer__widget-title footer__widget-title-3">My Account</h3>
                                <div class="footer__widget-content">
                                    <div class="footer__links footer__links-2">
                                        <ul>
                                            <li>
                                                <a href="contact.html">My Account</a>
                                            </li>
                                            <li>
                                                <a href="contact.html">Order History</a>
                                            </li>
                                            <li>
                                                <a href="wishlist.html">Wish List</a>
                                            </li>
                                            <li>
                                                <a href="contact.htmcontact.html">Newsletter</a>
                                            </li>
                                            <li><a href="contact.html">Shipping & Returns</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xxl-3 col-xl-2 col-lg-4 col-md-4 col-sm-6 col-6">
                            <div class="footer__widget footer-col-5 pb-30">
                                <h3 class="footer__widget-title footer__widget-title-3">Customer Service</h3>
                                <div class="footer__widget-content">
                                    <div class="footer__links footer__links-2">
                                        <ul>
                                            <li>
                                                <a href="contact.html">Search Terms</a>
                                            </li>
                                            <li>
                                                <a href="contact.html">Advanced Search</a>
                                            </li>
                                            <li>
                                                <a href="contact.html">Help & FAQs</a>
                                            </li>
                                            <li>
                                                <a href="contact.html">Furniture Expert</a>
                                            </li>
                                            <li>
                                                <a href="contact.html">Our Sitemap</a>
                                            </li>
                                            <li>
                                                <a href="contact.html">Find A Store</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer__offer">
                <div class="container">
                    <div class="footer__offer-inner footer__offer-inner-2">
                        <div class="row align-items-center">
                            <div class="col-xxl-6 col-lg-6 col-md-6">
                                <div class="footer__subscribe footer__subscribe-3">
                                    <p>Sign up for our Newsletter</p>
                                    <form action="#">
                                        <div class="footer__subscribe-input">
                                            <input type="email" placeholder="Enter Email ID ...">
                                            <button type="submit"><i class="fab fa-telegram-plane"></i></button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="col-xxl-6 col-lg-6 col-md-6">
                                <div class="payment-image-2 text-md-end">
                                    <a href="#"><img src="/users/assets_2/img/payment/payment-2.png" alt=""></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer__bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-xxl-12">
                            <div class="footer__bottom-wrapper text-center">
                                <div class="footer__bottom-links">
                                    <ul>
                                        <li>
                                            <a href="about.html">About Us</a>
                                        </li>
                                        <li>
                                            <a href="contact.html">Delivery Information</a>
                                        </li>
                                        <li>
                                            <a href="contact.html">Privacy Policy</a>
                                        </li>
                                        <li>
                                            <a href="contact.html">Terms & Conditions</a>
                                        </li>
                                        <li>
                                            <a href="contact.html">Contact Us</a>
                                        </li>
                                        <li>
                                            <a href="contact.html">Site Map</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="footer__copyright">
                                    <p>Copyright ©2022 <a href="index.html">Blackwood.com</a> All Rights Reserved</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer area end -->

    <!--sign up with google-->
    <script src="util/firebase.js" defer type="module"></script>
    <script src="sign-up.js"></script>

    <!-- JS here -->
    <script data-cfasync="false" src="../../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script src="/users/assets_2/js/vendor/jquery.js"></script>
    <script src="/users/assets_2/js/vendor/waypoints.js"></script>
    <script src="/users/assets_2/js/bootstrap-bundle.js"></script>
    <script src="/users/assets_2/js/meanmenu.js"></script>
    <script src="/users/assets_2/js/swiper-bundle.js"></script>
    <script src="/users/assets_2/js/owl-carousel.js"></script>
    <script src="/users/assets_2/js/jquery-ui-slider-range.js"></script>
    <script src="/users/assets_2/js/magnific-popup.js"></script>
    <script src="/users/assets_2/js/parallax.js"></script>
    <script src="/users/assets_2/js/backtotop.js"></script>
    <script src="/users/assets_2/js/nice-select.js"></script>
    <script src="/users/assets_2/js/counterup.js"></script>
    <script src="/users/assets_2/js/countdown.js"></script>
    <script src="/users/assets_2/js/wow.js"></script>
    <script src="/users/assets_2/js/isotope-pkgd.js"></script>
    <script src="/users/assets_2/js/imagesloaded-pkgd.js"></script>
    <script src="/users/assets_2/js/ajax-form.js"></script>
    <script src="/users/assets_2/js/main.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
        $(document).ready(function () {
            $('#loginForm').submit(function (event) {
                event.preventDefault();
                const email = $('#email').val();
                const password = $('#password').val();

                fetch("/sign-in", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify({
                        email: email,
                        password: password
                    })
                }).then(res => res.json())
                    .then(data => {
                        if (!data.success) {
                            if (data.errorField === 'email') {
                                showError('email-error', data.message);
                            } else if (data.errorField === 'password') {
                                showError('password-error', data.message);
                            }
                        } else {
                            window.location.href = '/';
                        }
                    });
            });

            function showError(errorId, message) {
                let errorElement = $('#' + errorId);
                errorElement.text(message);
            }
        });

        document.getElementById('loginForm').addEventListener('submit', function (event) {
            let isValid = true;

            document.getElementById('email-error').textContent = '';
            document.getElementById('password-error').textContent = '';

            const email = document.getElementById('email').value.trim();
            if (email === '') {
                document.getElementById('email-error').textContent = 'Enter your email';
                isValid = false;
            }

            const password = document.getElementById('password').value.trim();
            if (password === '') {
                document.getElementById('password-error').textContent = 'Enter your password';
                isValid = false;
            }

            if (!isValid) {
                event.preventDefault();
            }
        });
    </script>


</body>

</html>