<!doctype html>
<html class="no-js" lang="zxx">

<!-- Mirrored from wphix.com/html/blackwood-prv/blackwood/wishlist.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 07 Apr 2024 11:31:30 GMT -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Blackwood - Clean Minimal eCommerce HTML5 Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Place favicon.ico in the root directory -->
    <link rel="shortcut icon" type="image/x-icon" href="/users/assets_2/img/favicon.png">

    <link
        href="https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap"
        rel="stylesheet">

    <link
        href="https://fonts.googleapis.com/css2?family=Indie+Flower&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap"
        rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

    <!-- CSS here -->
    <link rel="stylesheet" href="/users/assets_2/css/preloader.css">
    <link rel="stylesheet" href="/users/assets_2/css/bootstrap.css">
    <link rel="stylesheet" href="/users/assets_2/css/meanmenu.css">
    <link rel="stylesheet" href="/users/assets_2/css/animate.css">
    <link rel="stylesheet" href="/users/assets_2/css/owl-carousel.css">
    <link rel="stylesheet" href="/users/assets_2/css/ui-range-slider.css">
    <link rel="stylesheet" href="/users/assets_2/css/swiper-bundle.css">
    <link rel="stylesheet" href="/users/assets_2/css/backtotop.css">
    <link rel="stylesheet" href="/users/assets_2/css/magnific-popup.css">
    <link rel="stylesheet" href="/users/assets_2/css/nice-select.css">
    <link rel="stylesheet" href="/users/assets_2/css/font-awesome-pro.css">
    <link rel="stylesheet" href="/users/assets_2/flaticon/flaticon.css">
    <link rel="stylesheet" href="/users/assets_2/css/default.css">
    <link rel="stylesheet" href="/users/assets_2/css/style.css">
    <link rel="stylesheet" href="/users/assets/css/style.css">
</head>

<body>

    <div id="loading">
        <div id="loading-center">
            <div id="loading-center-absolute">
                <div class="object" id="first_object"></div>
                <div class="object" id="second_object"></div>
                <div class="object" id="third_object"></div>
            </div>
        </div>
    </div>

    <nav class="custom-navbar navbar navbar-expand-md navbar-dark bg-dark" arial-label="Furni navigation bar">

        <div class="container">
            <a class="navbar-brand">MacHive</a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsFurni"
                aria-controls="navbarsFurni" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsFurni">
                <ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
                    <li><a class="nav-link" href="/">Home</a></li>
                    <li><a class="nav-link" href="/shop">Shop</a></li>
                    <li><a class="nav-link" href="/views/users/about.ejs">About us</a></li>
                    <li><a class="nav-link" href="/views/users/services.ejs">Services</a></li>
                    <li><a class="nav-link" href="/views/users/blog.ejs">Blog</a></li>
                    <li><a class="nav-link" href="/views/users/contact.ejs">Contact us</a></li>
                </ul>

                <ul class=" custom-navbar-cta navbar-nav mb-2 mb-md-0 ms-5">
                    <li><a class="nav-link" href="/wishlist"><i class="fa-solid fa-heart"></i></a></li>
                    <li><a class="nav-link" href="/cart"><i class="fa-solid fa-cart-shopping"></i></a></li>
                    <li><a class="nav-link" href="/myAccount"><i class="fa-solid fa-user"></i></a></li>
                </ul>

                <ul class="custom-navbar-nav navbar-nav ">

                    <li><a class="nav-link login-nav" href="sign-in">SIGN IN</a></li>

                </ul>

            </div>
        </div>

    </nav>


    <main>

        <!-- cart-area start -->
        <section class="cart-area pb-120 pt-120">
            <h3 style="text-align: center; 
                        font-family: 'Lato', sans-serif;
                        font-size: 32px;
                        margin-top: -100px;
                        font-weight: 400;
                        color: #555; 
                        text-align: center;
                        margin: 20px auto;
                        position: relative;
                        margin-top: -50px;
                        cursor: pointer; ">WISHLIST</h3>
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        


                        <div class="table-content table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="product-thumbnail">Image</th>
                                        <th class="cart-product-name">Product</th>
                                        <th class="product-price">Price</th>
                                        <th class="product-subtotal"></th>
                                        <th class="product-remove">Remove</th>
                                    </tr>
                                </thead>
                                <tbody>
                                  <% wishlist.products.forEach((item, index) => { %>
                                    <tr>
                                        <td class="product-thumbnail"><a><img
                                                    src="<%= item.productVariantId.productId.image %>" alt="<%= item.productVariantId.productId.name %>"></a></td>
                                        <td class="product-name"><a><%= item.productVariantId.productId.name %></a>
                                        </td>
                                        <td class="product-subtotal"><span class="amount">
                                            <% if (item.productVariantId.is_blocked) { %>
                                                <span class="text-danger">Product is unavailable</span>
                                            <% } else if (item.productVariantId.stock === 0) { %>
                                                <span class="text-danger">This product is out of stock</span>
                                            <% } else { %>
                                                ₹ <%= item.productVariantId.salePrice %>
                                            <% } %></span>
                                        </td>
                                        <td class="product-quantity">
                                            <a href="cart.html" class="btn-tp">Add To Cart</a>
                                        </td>
                                        <td class="product-remove"><a href="#"><i class="fa fa-times"></i></a></td>
                                    </tr>
                                  <% }) %>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </section>
        <!-- cart-area end -->

    </main>

    <!-- footer area start -->
    <footer class="footer-section">
        <div class="container relative">

            <div class="row">
                <div class="col-lg-8">
                    <div class="subscription-form">
                        <h3 class="d-flex align-items-center"><span class="me-1"><img
                                    src="/users/assets/images/envelope-outline.svg" alt="Image"
                                    class="img-fluid"></span><span>Subscribe to Newsletter</span></h3>

                        <form action="#" class="row g-3">
                            <div class="col-auto">
                                <input type="text" class="form-control" placeholder="Enter your name">
                            </div>
                            <div class="col-auto">
                                <input type="email" class="form-control" placeholder="Enter your email">
                            </div>
                            <div class="col-auto">
                                <button class="btn btn-primary">
                                    <span class="fa fa-paper-plane"></span>
                                </button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>

            <div class="row g-5 mb-5">
                <div class="col-lg-4">
                    <div class="mb-4 footer-logo-wrap"><a href="#" class="footer-logo">Furni<span>.</span></a></div>
                    <p class="mb-4">Donec facilisis quam ut purus rutrum lobortis. Donec vitae odio quis nisl dapibus
                        malesuada. Nullam ac aliquet velit. Aliquam vulputate velit imperdiet dolor tempor tristique.
                        Pellentesque habitant</p>

                    <ul class="list-unstyled custom-social">
                        <li><a href="#"><span class="fa fa-brands fa-facebook-f"></span></a></li>
                        <li><a href="#"><span class="fa fa-brands fa-twitter"></span></a></li>
                        <li><a href="#"><span class="fa fa-brands fa-instagram"></span></a></li>
                        <li><a href="#"><span class="fa fa-brands fa-linkedin"></span></a></li>
                    </ul>
                </div>

                <div class="col-lg-8">
                    <div class="row links-wrap">
                        <div class="col-6 col-sm-6 col-md-3">
                            <ul class="list-unstyled">
                                <li><a href="#">About us</a></li>
                                <li><a href="#">Services</a></li>
                                <li><a href="#">Blog</a></li>
                                <li><a href="#">Contact us</a></li>
                            </ul>
                        </div>

                        <div class="col-6 col-sm-6 col-md-3">
                            <ul class="list-unstyled">
                                <li><a href="#">Support</a></li>
                                <li><a href="#">Knowledge base</a></li>
                                <li><a href="#">Live chat</a></li>
                            </ul>
                        </div>

                        <div class="col-6 col-sm-6 col-md-3">
                            <ul class="list-unstyled">
                                <li><a href="#">Jobs</a></li>
                                <li><a href="#">Our team</a></li>
                                <li><a href="#">Leadership</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                            </ul>
                        </div>

                        <div class="col-6 col-sm-6 col-md-3">
                            <ul class="list-unstyled">
                                <li><a href="#">Nordic Chair</a></li>
                                <li><a href="#">Kruzo Aero</a></li>
                                <li><a href="#">Ergonomic Chair</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>

            <div class="border-top copyright">
                <div class="row pt-4">
                    <div class="col-lg-6">
                        <p class="mb-2 text-center text-lg-start">Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script>. All Rights Reserved. &mdash;
                            Designed with love by <a href="https://untree.co">Untree.co</a> Distributed By <a
                                hreff="https://themewagon.com">ThemeWagon</a>
                            <!-- License information: https://untree.co/license/ -->
                        </p>
                    </div>

                    <div class="col-lg-6 text-center text-lg-end">
                        <ul class="list-unstyled d-inline-flex ms-auto">
                            <li class="me-4"><a href="#">Terms &amp; Conditions</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                        </ul>
                    </div>

                </div>
            </div>

        </div>
    </footer>
    <!-- footer area end -->


    <!-- JS here -->
    <script data-cfasync="false" src="../../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script src="/users/assets_2/js/vendor/jquery.js"></script>
    <script src="/users/assets_2/js/vendor/waypoints.js"></script>
    <script src="/users/assets_2/js/bootstrap-bundle.js"></script>
    <script src="/users/assets_2/js/meanmenu.js"></script>
    <script src="/users/assets_2/js/swiper-bundle.js"></script>
    <script src="/users/assets_2/js/owl-carousel.js"></script>
    <script src="/users/assets_2/js/jquery-ui-slider-range.js"></script>
    <script src="/users/assets_2/js/magnific-popup.js"></script>
    <script src="/users/assets_2/js/parallax.js"></script>
    <script src="/users/assets_2/js/backtotop.js"></script>
    <script src="/users/assets_2/js/nice-select.js"></script>
    <script src="/users/assets_2/js/counterup.js"></script>
    <script src="/users/assets_2/js/countdown.js"></script>
    <script src="/users/assets_2/js/wow.js"></script>
    <script src="/users/assets_2/js/isotope-pkgd.js"></script>
    <script src="/users/assets_2/js/imagesloaded-pkgd.js"></script>
    <script src="/users/assets_2/js/ajax-form.js"></script>
    <script src="/users/assets_2/js/main.js"></script>
</body>

<!-- Mirrored from wphix.com/html/blackwood-prv/blackwood/wishlist.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 07 Apr 2024 11:31:31 GMT -->

</html>